extends ../layout

block content
	#wrapper
		include ../includes/sidebar
		- var list = [{name:'工作桌面',href:'index',icon:'fa fa-desktop'},{name:'电子邮件',href:'email', icon:'fa fa-envelope'},{name:'个人主页',href:'profile',icon:'fa fa-street-view'},{name:'质量数据',href:'quality',icon:'fa fa-line-chart'},{name:'工作项目',href:'projects',icon:'fa fa-tasks'},{name:'通讯录',href:'contacts',icon:'fa fa-phone'},{name:'网络硬盘',href:'cloud',icon:'fa fa-upload'}]
		- var activeMenu
		+sideMenu(list, activeMenu || 0)
		#page-wrapper.gray-bg.dashboard-1
			include ../includes/top
			.row.border-bottom.white-bg.dashboard-header
				.col-sm-3
					h2 
						|朱怡心，欢迎你！
					small
						|你有16封邮件和8个提醒
					ul.list-group.clear-list.m-t
						li.list-group-item.fist-item
							span.pull-right
								|09:00 pm
							span.label.label-success
								|1
							|联系14分厂赵师傅
						li.list-group-item
							span.pull-right
								|08:22 pm
							span.label.label-info
								|2
							|到楼上会议室开会
						li.list-group-item
							span.pull-right
								|11:10 pm
							span.label.label-default
								|3
							|去装试分厂检查试验
				.col-sm-6
					.flot-chart.dashboard-chart
						.flot-chart-content#flot-dashboard-chart
					.row.text-left
						.col-xs-4
							span.h4.font-bold.m-t.block
								|附件：80 / 120
							small.text-muted.m-b.block
								|已交付/预计交付
						.col-xs-4
							span.h4.font-bold.m-t.block
								|零组件：1543 / 1600
							small.text-muted.m-b.block
								|已交付/预计交付
						.col-xs-4
							span.h4.font-bold.m-t.block
								|备件：3450 / 3500
							small.text-muted.m-b.block
								|已交付/预计交付
				.col-sm-3
					.statistic-box
						h4
							|任务进展情况
						p
							|你有2项任务还没有完成
						.row.text-center
							.col-lg-6
								canvas#polarChart(width='80',height='80')
								h5
									|Kolter
							.col-lg-6
								canvas#doughnutChart(width='78',height='78')
								h5
									|Maxtor
						.m-t
							small
								|这里放基本统计图
			.row
				.col-lg-12
					.wrapper.wrapper-content
						.row
							.col-lg-4
								.ibox.float-e-margins
									.ibox-title
										h5
											|文件管理
										.ibox-tools
											a.collapse-link
												i.fa.fa-chevron-up
											a.dropdown-toggle(data-toggle='dropdown',href='#')
												i.fa.fa-wrench
											ul.dropdown-menu.dropdown-user
												li
													a(href='#')
														|Config option 1
												li
													a(href='#')
														|Config option 2
											a.close-link
												i.fa.fa-times
							.col-lg-4
								.ibox.float-e-margins
									.ibox-title
										h5
											|项目动态
										.ibox-tools
											span.label.label-warning-light.pull-right
												|10条新消息
										.ibox-content
											

							.col-lg-4
								.ibox.float-e-margins
									.ibox-title
										h5
											|日程安排
										.ibox-tools
											a.collapse-link
												i.fa.fa-chevron-up
											a.dropdown-toggle(data-toggle='dropdown',href='#')
												i.fa.fa-wrench
											ul.dropdown-menu.dropdown-user
												li
													a(href='#')
														|Config option 1
												li
													a(href='#')
														|Config option 2
											a.close-link
												i.fa.fa-times
									.ibox-content.ibox-heading
										h3
											|你今天有个会议！
										small
											i.fa.fa-map-marker
												|最近的会议在早上8:00开始，请检查你的行程
									.ibox-content.inspinia-timeline
										.timeline-item
											.row
												.col-xs-3.date
													i.fa.fa-briefcase
													|8:00 am
													br
													small.text-navy
														|1小时后
												.col-xs-7.content.no-top-border
													p.m-b-xs
														strong
															|会议
													p
														|上午在会议室召开支部党员大会，在会议上传达党的十八大五中全会精神，要求全体参加
										.timeline-item
											.row
												.col-xs-3.date
													i.fa.fa-file-text
													|10:00 am
													br
													small.text-navy
														|3小时后
												.col-xs-7.content
													p.m-b-xs
														strong
															|公文传送
													p
														|将十八大五中全会相关文件用邮箱传达给每个人
										.timeline-item
											.row
												.col-xs-3.date
													i.fa.fa-coffee
													|12:00 am
													br
													small.text-navy
														|5小时后
												.col-xs-7.content
													p.m-b-xs
														strong
															|午休
													p
														|绕工厂快走两圈，达成5000步的目标
										.timeline-item
											.row
												.col-xs-3.date
													i.fa.fa-phone
													|14:00 pm
													br
													small.text-navy
														|7小时后
												.col-xs-7.content
													p.m-b-xs
														strong
															|打电话给小戴
													p
														|确认下午的工艺评审的时间，内容，范围，督促工厂准备好相关工艺文件
										.timeline-item
											.row
												.col-xs-3.date
													i.fa.fa-eye
													|15:00 pm
													br
													small.text-navy
														|8小时后
												.col-xs-7.content
													p.m-b-xs
														strong
															|目击检查
													p
														|到大修单元对xx工艺进行目击检查，填写检查记录
										.timeline-item
											.row
												.col-xs-3.date
													i.fa.fa-comments
													|17:00 pm
													br
													small.text-navy
														|10小时后
												.col-xs-7.content
													p.m-b-xs
														strong
															|与质量部对话
													p
														|与质量部讨论xxx问题的解决方案
			include ../includes/footer
	include ../includes/jlib
	script.
		$(document).ready(function(){
			setTimeout(function(){
				toastr.options = {
					closeButton: true,
					progressBar: true,
					showMethod: 'slideDown',
					timeOut: 4000
				};
				toastr.success('欢迎使用Oasys办公自动化系统！','登陆成功！');
			},1300);
			var data1 = [[0, 4],[1, 8],[2, 5],[3, 10],[4, 4],[5, 16],[6, 5],[7, 11],[8, 6],[9, 11],[10, 30],[11, 10],[12, 13],[13, 4],[14, 3],[15, 3],[16, 6]];

			var data2 = [[0, 1],[1, 0],[2, 2],[3, 0],[4, 1],[5, 3],[6, 1],[7, 5],[8, 2],[9, 3],[10, 2],[11, 1],[12, 0],[13, 2],[14, 8],[15, 0],[16, 0]];

			$("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), 
				[data1, data2], {
					series: {
					lines: {
						show: false,
						fill: true
					},
					splines: {
						show: true,
						tension: 0.4,
						lineWidth: 1,
						fill: 0.4
					},
					points: {
						radius: 0,
						show: true
					},
					shadowSize: 2
				},
				grid: {
					hoverable: true,
					clickable: true,
					tickColor: "#d5d5d5",
					borderWidth: 1,
					color: '#d5d5d5'
				},
				colors: ["#1ab394", "#1C84C6"],
				xaxis: {},
				yaxis: {
					ticks: 4
				},
				tooltip: false
			});
		});


